.indivContainer{
    display: flex;
    align-items: center;
    
    padding-top: 3em;
    padding-left: 4em;
    padding-right: 4em;
    padding-bottom: 3em;
}

.indivContainer img{
    width: 425px;
    height: auto;
}

.movieImg{
    margin-right: 5em;
}

.movieText{
    flex: 1;
}

.h8{
    color: #ffffff;
    font-size: 48px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.miniText{
    display: flex;
    align-items: flex-start;
}

.h6{
    width: 150px;
    color: #ffffff;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-weight: bold;
    
}

.hAPI{
    width: 38em;
    color: #e1e1e1;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-weight: 10;
}

.h6, .hAPI {
    margin: 0;
    padding: 0;
    line-height: 1;
  }

.h3{
    color: #ffffff;
    font-size: 22px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}



.playButton{
    color: #784DF4;
}

.playButton img{
    width: 10px;
    height: auto;
}

.playButton {
    display: inline-flex;
    align-items: center;
    background-color: #AEF504;
    color: white;
    border: none;
    padding: 15px 50px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1em;
  }
  
  .playButton img {
    width: 12px;
    height: 15px;
    margin-right: 10px;
  }
  
  .playButton p.h3 {
    margin: 0;
    font-size: inherit;
  }

  /* NAV */

nav {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #8c8c8c80;
    padding: 10px 55px;
}

.navbar .logo {
    display: flex;
    align-items: center;
}

.navbar .logo img {
    width: auto;
    height: 60px;
}

.navbar a{
    text-align: left;
}

.nav-links a {
    padding-right: 20px;
}

.navbar .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.navbar .nav-links a.active {
    font-weight: bold;
}

.navbar .nav-icons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar .nav-icons i {
    color: white;
    font-size: 20px;
}

.navbar .nav-icons .language {
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.navIconSearch{
    width: 15px;
    height: auto;
}

.navIconProfile{
    width: 15px;
    height: auto; 
}

